body{
background-color: aquamarine;
display:grid;
grid-template-columns: 1;
grid-template-rows: 6;
}
header{
width: auto;
height: 100px;
background-color: blueviolet;
grid-row: 1;
}

section{
    display: flex;
    width: auto;
    background-color:  rgb(84, 231, 182);
    justify-content: space-between;
}
#bild{
    grid-row: 2;
}
.genre{
  grid-row: 3;
  width: 80px;
}

.bok1{
    height: 150px;
    width: auto;
}
.section1{
grid-row: 4;

}
#h2{
    grid-row: 5;
    height: 20px;
    margin: 12px 0px 7px 0px;
}
.bok2{
height: 150px;
width: auto;
}
.section2{
    
    grid-row: 6;
}

#welcome{
    width: 100%;
    height: 100px;
}
#Bild{
    width: 100%;
    height: 300px;
}


.button2{
    background-color: rgb(54, 243, 180);
}

footer{ 
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-color: rgb(181, 245, 224);
    padding-top: 150px;
}


